.finddoctor {
    padding: 20px;
    background-color: #f9f9f9; /* Soft background color */
}

.home-search-container {
    margin-top: 20px;
    font-family: sans-serif;
}

.doctor-search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Icon color */
}

.search-doctor-input-box {
    width: 350px;
    padding: 10px 10px 10px 40px; /* Adjust padding for icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Larger font size */
}

.search-doctor-input-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 2px solid #ccc;
    width: 500px;
    border-radius: 4px;
    margin-top: 20px;
    z-index: 1000;
}

.search-doctor-result-item {
    /* padding: 10px; */
    cursor: pointer;
}

.result-item {
    display: flex;
    align-items: center;
    padding: .8rem;
    border-bottom: .5px solid #ccc;
}

.result-icon {
    margin-right: 10px; /* Space between icon and specialty name */
    color: #888; /* Icon color */
}

.speciality-label {
    margin-left: auto; /* Pushes the label to the right */
    color: #555; /* Label color */
}

.search-doctor-result-item:hover {
    background-color: #f8f6f6;
}
